*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: dark light;
}

:is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: .5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2em;
}

p {
  margin-bottom: 1em;
}

a {
  color: currentcolor;
  text-Decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}
