*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: dark light;
}

:is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: .5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2em;
}

p {
  margin-bottom: 1em;
}

a {
  color: currentcolor;
  text-Decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

/* Markdown Content */

pre {
  padding: 1em 0px;
  overflow-x: auto;
  font-size: 1rem;
  outline: none;
  margin-bottom: 1em;

  code {
    display: block;
    padding: 0px 1.1em;
    width: fit-content;
    min-width: 100%;
  }
}

ol {
  list-style: hiragana;
  padding-left: 2.2rem;
  margin-bottom: 1.2em;
  line-height: 1.5;
}
