.modal {
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
  padding: 0px;
  border: none;
  outline: none;
  background: oklch(from black 0.15 c h / 0.5);
  backdrop-filter: blur(20px);
  overflow: hidden;
}
